@import url(../css/reset.css);
@import url(../css/font-awesome.min.css);
@import url(../css/fonts.css);

.rel{
    position: relative;
}
.row{
    display: flex;
    flex-direction: row;
}
.centr-position{
    width: 1230px;
    margin: 0 auto;
}
.btn-get-started{
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
}
.btn-get-started:hover{
    background-color: #111111;
}
.header{
    background-color: #111111;
    opacity: 0.7;
    background:  url('../image/header-bgr.png'), linear-gradient(to top, #211b19, #4e3427) ;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
  
    background-blend-mode:multiply;
}
.header-shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 1024px;
    width: 100%;
    background-color: #111111;
    opacity: 0.7;
}
.pad-t-40{
    padding-top: 40px;
}
.name-company{
    
    color: #ffffff;
    font-family: "Raleway-Regular";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}
.nav-link{   
    color: #ffffff;
    font-family: 'Montserrat-light';
    font-size: 14px;
    font-weight: 300;
}
.nav-link:hover{    
    color: #c7b299;
}
.icon{
    color: #ffffff;
    text-align: left;
    font-size: 14px;
}

.subtitle{   
    margin-top: 285px;
    color: #ffffff;
    font-family: Raleway Medium;
    font-size: 36px;
    font-weight: 500;
}
.title{
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 52px;
}
.text{
    width: 562px;
    color: #ffffff;
    margin: 0 auto;
    font-family: Montserrat Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.slide{
    text-align: center;
}
