@import url(../css/reset.css);
@import url(../css/font-awesome.min.css);
@import url(../css/fonts.css);

.rel{
    position: relative;
}
.row{
    display: flex;
    flex-direction: row;
}
.centr-position{
    width: 1230px;
    margin: 0 auto;
}
.header{
  /*  background-color: #111111;
    opacity: 0.7;
    background:  url('../image/header-bgr.png'), linear-gradient(to top, #211b19, #4e3427) ;  */
    
    background:  url('../image/header-bgr-2-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
  
    background-blend-mode:multiply;
}
.header-shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 1024px;
    width: 100%;
    background-color: #111111;
    opacity: 0.7;
}
.pad-t-40{
    padding-top: 40px;
}
.name-company{
    
    color: #ffffff;
    font-family: "Raleway-Regular";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}
.nav-link{   
    color: #ffffff;
    font-family: 'Montserrat-light';
    font-size: 14px;
    font-weight: 300;
}
.nav-link:hover{    
    color: #c7b299;
}
.icon{
    color: #ffffff;
    text-align: left;
    font-size: 14px;
}

.subtitle{   
    margin-top: 285px;
    color: #ffffff;
    font-family: "Raleway-Medium";
    font-size: 36px;
}
.title{
    color: #ffffff;
    font-family: "Raleway-ExtraBold";
    font-size: 52px;
    margin: 15px auto;
}
.text{
    width: 562px;
    color: #ffffff;
    font-family: "Montserrat-Light";
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
}

.btn-get-started{
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 50px;
}
.btn-get-started:hover{
    background-color: #111111;
}
.slide{
    text-align: center;
}

.services{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    color: #555555;
}
.line-70{
    width: 70px;
    height: 3px;
    margin: 0 auto;
    margin-top: 30px;

    background-color: #f1eee9;
}
.line-70:hover{    
    background-color: #c7b299;
}



.text-boxes{
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    height: 150px;
    color: #ffffff;
}
.purschase{   
    
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    /*background-color: #111111;*/
}

.video-presentation{
    background-image: url('../image/vid-pres.png');
    height: 705px;
}
.exelent-for-mobile-dev{
   
height: 695px;
background-color: #fbfaf8;
}
.counters{
    /* Style for "Background" */
width: 1920px;
height: 300px;
background-color: #f4f5f8;
background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.partners{
    height: 489px;
    background-image: url('../image/parthners-bgr.png');
    background-color: #f4f5f8;

}
.logo-row{
    height: 100%;
}


footer{
height: 619px;
background-color: #191919;
}