@media only screen and (max-width: 575px) {
    .header{
        
        width: 100%;
        height: 524px;
        .pad-t{
            padding-top: 10px;
        }
        .logo img{
            height: 32px;
            margin-left: 10px;
        }
        .name-company{
            font-size: 22px;
        }
        .icon-header{
            font-size: 18px;
        }
        .navbar-toggler{
            color: #ffffff;
        }
        .subtitle{
            padding-top:30px;
            font-size: 22px;
        }
        .title{
            font-size: 30px;
        }
        .text{
            font-size: 10px;
        }
        .btn-get-started{
            width: 120px;
            height: 35px;
            font-size: 10px;
            line-height: 23px;
            margin-top: 30px;
        }
        .slide-header{
            width: 70%;
            height: 340px;
            margin: 0 auto;
        }
        .control-prev, .control-next{
            display: none;
        }

        .icon-slider-left, .icon-slider-right{
            display: block;
        }
        .carousel-control-prev, .carousel-control-next {
            width: 8%;
        }
        .carousel-control-prev {
            left:10px;
        }
        .carousel {
            width: 90%;
        //    margin-left: 10px;
        }
    }
    .services{
        
        padding-top: 40px;
        padding-bottom: 40px;
        .icon{
            font-size: 40px;
        }
        .services-title {
            margin-top: 20px;
            margin-bottom: 15px;     
            
        }
        .services-text{      
            line-height: 20px;
        }
        .line-70{
            margin-top: 20px;    
            margin-bottom: 15px;
        }
        
    }
    
    .realization{
        padding-top: 40px;
        .text, .title{
            max-width: 90%;
        }
        .title{           
            font-size: 25px;    
        }
        .text{
            font-size: 15px;
            line-height: 25px;
        }
        .realization-img{
            max-width: 100%;
        }
    }
    
    .text-boxes{
        height: 220px;
        .tb-title{
            font-size: 20px;
            text-align: center;
        }
        .tb-text{
            font-size: 14px;
            text-align: center;
        }
        .btn-purchase{
            width: 140px;
            font-size: 12px;
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .latest-projects{
        
        padding-top: 40px;
        padding-bottom: 40px;
        .lt-title{        
            font-size: 25px;
        }
        .lt-text{
            width: 90%;
            font-size: 14px;
            line-height: 26px;
            margin-top: 24px;
            margin-bottom: 50px;
        }   
        .nav-item{       
            margin-bottom: 10px;
        }

        .card-section{
            height: auto;
            .card{
                margin: 10px auto;
            }
        }
    }

    .video-presentation{
        height: 280px;
        padding-top: 65px;
        .icon-play-container{           
            width: 60px;
            height: 60px;
            .icon-play{
                font-size:40px; 
                line-height: 60px;
            }
        }
        .icon-play-container:hover{
            .icon-play{
                font-size: 50px;
            }
        }
            
        .pres-title{                
            font-size: 18px;
            margin-top: 18px;
            margin-bottom: 14px;
        }
        .pres-text{        
            max-width: 90%;
            font-size: 12px;
            line-height: 18px;
        }
        .video-time{
            font-size: 12px;
            line-height: 18px;
            margin-top: 18px;
        }
    }
    
    .exelent-for-mobile-dev,

    .counters,
    
    .counters,
    .recent-posts,
    .partners,
    .logo-row,
    footer{
        display: none;
    }
}